@tailwind base;
@tailwind components;
@tailwind utilities;

/* فقط جهت و رندر بهتر فارسی؛ هیچ @font-face اینجا نیست */
html, body {
  direction: rtl;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}